<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="246.96338"
   height="113.12111"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="bracket3-text.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="2.8"
     inkscape:cx="118.89047"
     inkscape:cy="71.189957"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1366"
     inkscape:window-height="705"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-14.264688,625.17531)">
    <rect
       style="fill:#000000"
       id="rect3011"
       width="124.01117"
       height="2.2343056"
       x="14.3837"
       y="-592.76849" />
    <rect
       style="fill:#000000"
       id="rect3011-1"
       width="124.01117"
       height="2.2343056"
       x="14.264688"
       y="-514.28851" />
    <rect
       style="fill:#000000"
       id="rect3011-7"
       width="1.6195017"
       height="80.714294"
       x="137.20265"
       y="-592.76849" />
    <text
       xml:space="preserve"
       x="22.148359"
       y="-459.90958"
       id="text3107"
       sodipodi:linespacing="125%"
       transform="scale(0.76748904,1.3029502)"><tspan
         sodipodi:role="line"
         id="tspan3109"
         x="22.148359"
         y="-459.90958">McDonalds</tspan></text>
    <text
       xml:space="preserve"
       x="21.499187"
       y="-400.02231"
       id="text3107-9"
       sodipodi:linespacing="125%"
       transform="scale(0.76748904,1.3029502)"><tspan
         sodipodi:role="line"
         id="tspan3109-4"
         x="21.499187"
         y="-400.02231">Burger King</tspan></text>
    <rect
       style="fill:#000000"
       id="rect3011-8"
       width="122.65315"
       height="2.2343056"
       x="138.57492"
       y="-555.0285" />
    <text
       xml:space="preserve"
       x="189.65636"
       y="-431.05078"
       id="text3107-8"
       sodipodi:linespacing="125%"
       transform="scale(0.76748904,1.3029502)"><tspan
         sodipodi:role="line"
         id="tspan3109-2"
         x="189.65636"
         y="-431.05078">McDonalds</tspan></text>
  </g>
</svg>
